<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.notice.mapper.NoticeMapper">

	<insert id="noticeRegister">
		INSERT INTO Notice 
			 ( 
			   title, 
			   content
			 )
		VALUES 
		     (
		       #{title}, 
		       #{content}
		     )
	</insert>
	
	<!-- <insert id="insert">
		INSERT INTO user 
			 ( 
			   no, 
			   name, 
			   number,
			   id,
			   money,
			   score
			 )
		VALUES 
		     (
		       #{no}, 
		       #{name}, 
		       #{number},
		       #{id},
		       #{money},
		       #{score}
		     )
	</insert> -->

	<select id="noticeRead" resultType="com.example.test.notice.domain.Notice">
		SELECT noticeNO AS noticeNo, 
	 		   title, 
	 		   content, 
	 		   views,
	 		   writeDate
		  FROM Notice
		 WHERE noticeNO = #{noticeNo}
	</select>

	<update id="noticeModify">
		UPDATE notice 
		   SET title = #{title}, 
		       content = #{content}
		 WHERE noticeNO = #{noticeNo}
	</update>

	<delete id="noticeRemove">
		DELETE FROM notice
		 WHERE noticeNO = #{noticeNo}
	</delete>

	<select id="noticeList" resultType="com.example.test.notice.domain.Notice">
		<![CDATA[
	 	SELECT *
	    FROM  (SELECT  
	           @ROWNUM := @ROWNUM + 1 AS ROWNUM,
	           n.*
	           FROM  notice n,
	                 (SELECT @ROWNUM := 0 ) TMP
	        		 ORDER BY  writeDate ASC)SUB 
			   ORDER BY SUB.ROWNUM DESC
		]]>
	</select>

</mapper>
