<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.notice.mapper.NoticeMapper">

	<insert id="noticeRegister">
		INSERT INTO Notice 
			 ( 
			   title, 
			   content
			 )
		VALUES 
		     (
		       #{title}, 
		       #{content}
		     )
	</insert>
	
	<!-- <insert id="insert">
		INSERT INTO user 
			 ( 
			   no, 
			   name, 
			   number,
			   id,
			   money,
			   score
			 )
		VALUES 
		     (
		       #{no}, 
		       #{name}, 
		       #{number},
		       #{id},
		       #{money},
		       #{score}
		     )
	</insert> -->

	<select id="noticeRead" resultType="com.example.test.notice.domain.Notice">
		SELECT noticeNO AS noticeNo, 
	 		   title, 
	 		   content, 
	 		   views,
	 		   writeDate
		  FROM Notice
		 WHERE noticeNO = #{noticeNo}
	</select>

	<!-- <update id="update">
		UPDATE board 
		   SET title = #{title}, 
		       content = #{content}
		 WHERE board_no = #{boardNo}
	</update> -->

	<!-- <delete id="delete">
		DELETE FROM board 
		 WHERE board_no = #{boardNo}
	</delete> -->

	<select id="noticeList" resultType="com.example.test.notice.domain.Notice">
		<![CDATA[
	 	SELECT noticeNO AS noticeNo, 
	 		   title, 
	 		   content, 
	 		   views,
	 		   writeDate
	 	  FROM Notice 
	     WHERE noticeNO > 0 
	  ORDER BY noticeNO DESC, 
	  		   writeDate DESC
		]]>
	</select>

</mapper>
